---
http_interactions:
- request:
    method: get
    uri: http://mymemory.translated.net/api/get?q=Wasn't%20born%20to%20Follow&langpair=en%7Cit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-backend-content-length:
      - '10'
      x-embedded-status:
      - '200'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"responseData":{"translatedText":"Non era nato per seguire"},"responseDetails":"","responseStatus":200,"matches":[{"id":"0","segment":"Wasn''t
        born to Follow","translation":"Non era nato per seguire","quality":"70","reference":"Machine
        Translation provided by Google, Microsoft, Worldlingo or MyMemory customized
        engine.","usage-count":1,"subject":"All","created-by":"MT!","last-updated-by":null,"create-date":"2012-11-22","last-update-date":"2012-11-22","match":0.85},{"id":"5593788","segment":"SIGNATURES
        FOLLOW","translation":"SEGUONO FIRME","quality":"0","reference":"","usage-count":1,"subject":"Science","created-by":"rprosser","last-updated-by":null,"create-date":"2006-11-27
        16:19:25","last-update-date":"2006-11-27 16:19:25","match":0.37},{"id":"260745485","segment":"Follow
        use instructions on the label.","translation":"Seguire le istruzioni sull\u2019etichetta.","quality":"74","reference":"","usage-count":1,"subject":"Marketi[...]
